@import "tailwindcss";

@theme {
    --color-brand-text: #f2fdf8;
    --color-brand-background: #010403;
    --color-brand-primary: #20cf72;
    --color-brand-secondary: #11606e;
    --color-brand-accent: #196aa4;
}